# Import the required Libraries

In [1]:
import numpy as np 
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [2]:
house_df = pd.read_csv('/Users/ashutoshfolane/Documents/VIBHUTI/Git_Repos/Datasets/VM/housing_price_example.csv')

In [4]:
house_df.head(10)

,Id,LotArea,LotConfig,HouseStyle,YearBuilt,RoofStyle,1stFlrSF,2ndFlrSF,BsmtFullBath,FullBath,GarageType,GarageYrBlt,GarageCars,GarageArea,SalePrice
0,1,8450,Inside,2Story,2003,Gable,856,854,1,2,Attchd,2003.0,2.0,548.0,208500
1,2,9600,FR2,1Story,1976,Gable,1262,0,0,2,Attchd,1976.0,2.0,460.0,181500
2,3,11250,Inside,2Story,2001,Gable,920,866,1,2,Attchd,NaN,NaN,NaN,223500
3,4,9550,Corner,2Story,1915,Gable,961,756,1,1,Detchd,1998.0,3.0,642.0,140000
4,5,14260,FR2,2Story,2000,Gable,1145,1053,1,2,Attchd,2000.0,3.0,836.0,250000
5,6,14115,Inside,1.5Fin,1993,Gable,796,566,1,1,Attchd,1993.0,2.0,480.0,143000
6,7,10084,Inside,1Story,2004,Gable,1694,0,1,2,Attchd,2004.0,2.0,636.0,307000
7,8,10382,Corner,2Story,1973,Gable,1107,983,1,2,Attchd,1973.0,2.0,484.0,200000
8,9,6120,Inside,1.5Fin,1931,Gable,1022,752,0,2,Detchd,1931.0,2.0,468.0,129900
9,10,7420,Corner,1.5Unf,1939,Gable,1077,0,1,1,Attchd,1939.0,1.0,205.0,118000

In [3]:
house_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            1460 non-null   int64
 1   LotArea       1460 non-null   int64
 2   LotConfig     1460 non-null   object
 3   HouseStyle    1460 non-null   object
 4   YearBuilt     1460 non-null   int64
 5   RoofStyle     1460 non-null   object
 6   1stFlrSF      1460 non-null   int64
 7   2ndFlrSF      1460 non-null   int64
 8   BsmtFullBath  1460 non-null   int64
 9   FullBath      1460 non-null   int64
 10  GarageType    1379 non-null   object
 11  GarageYrBlt   1378 non-null   float64
 12  GarageCars    1459 non-null   float64
 13  GarageArea    1459 non-null   float64
 14  SalePrice     1460 non-null   int64
dtypes: float64(3), int64(8), object(4)
memory usage: 171.2+ KB

In [5]:
house_df.isnull().sum()

Id               0
LotArea          0
LotConfig        0
HouseStyle       0
YearBuilt        0
RoofStyle        0
1stFlrSF         0
2ndFlrSF         0
BsmtFullBath     0
FullBath         0
GarageType      81
GarageYrBlt     82
GarageCars       1
GarageArea       1
SalePrice        0
dtype: int64

## Find the percentage of missing data