Create a list that includes values from 12 to 27 (inclusive). Then create a loop that goes through the list and returns a dictionary with the number and whether that number was odd or even,

In [7]:
num_list = list(range(12, 28))
d = {}

for n in num_list:
    if n%2 == 0:
        d[n]='Even'
    else:
        d[n]='Odd'
print(d)
# print(num_list)

{12: 'Even', 13: 'Odd', 14: 'Even', 15: 'Odd', 16: 'Even', 17: 'Odd', 18: 'Even', 19: 'Odd', 20: 'Even', 21: 'Odd', 22: 'Even', 23: 'Odd', 24: 'Even', 25: 'Odd', 26: 'Even', 27: 'Odd'}

How many times can we double 13 before it passes 1,300?

In [9]:
x = 13
counter = 0

while x<1300:
    print(f"13 has been doubled {counter} times and is now {x}.")
    x*=2
    counter += 1

13 has been doubled 0 times and is now 13.
13 has been doubled 1 times and is now 26.
13 has been doubled 2 times and is now 52.
13 has been doubled 3 times and is now 104.
13 has been doubled 4 times and is now 208.
13 has been doubled 5 times and is now 416.
13 has been doubled 6 times and is now 832.

Define a function that determines whether a number is divisible by 3 or not and then test it on 6 and 8.

In [13]:
def div_by_3(num):
    if num%3==0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is indivisible by 3")
        
# div_by_3(3)
# div_by_3(6)
div_by_3(8)

8 is indivisible by 3

In [28]:
x = 5
def q_2():
    global x
    x = 9
    return x

print(x)
print(q_2())

5
9

In [33]:
y = 5
def q_3():
    y = 11
    return z

print(y)
# print(q_3())

5

In [16]:
#import lib

import numpy as np
import pandas as pd

Create the data to be included in the dataframe

In [17]:
participants = {
    'gender':['female', 'female', 'male', 'female', 'female', 'male', 'male', 'male', 'female'],
    'age': [26, 77, 39, 54, 55, 63, 28, 33, 49]
}

Create the dataframe

In [18]:
df = pd.DataFrame(participants)
df

   gender  age
0  female   26
1  female   77
2    male   39
3  female   54
4  female   55
5    male   63
6    male   28
7    male   33
8  female   49

How many rows and columns are included in the dataframe?

In [19]:
print(f"there are {df.shape[0]} rows and {df.shape[1]} columns in the dataframe.")

there are 9 rows and 2 columns in the dataframe.

What is the average age of the participants?

In [20]:
df["age"].mean()

47.111111111111114

In [21]:
# Approach 2
np.mean(df["age"])

47.111111111111114

In [22]:
df['gender'][df['gender']=='female'].count()

5

How many total male participants are there, and how many of them are older than 30 years old?

In [24]:
total_male_participants = df['gender'][df['gender']=='male'].count()
print(f"There are {total_male_participants} total male participants.\n")

There are 4 total male participants.

In [26]:
male_above_30 = df['gender'][(df['gender']=='male')&(df['age']>30)].count()
print(f"There are {male_above_30} males participants above age of 30.")

There are 3 males participants above age of 30.