Create a list that includes values from 12 to 27 (inclusive). Then create a loop that goes through the list and returns a dictionary with the number and whether that number was odd or even,

In [7]:
num_list = list(range(12, 28))
d = {}

for n in num_list:
    if n%2 == 0:
        d[n]='Even'
    else:
        d[n]='Odd'
print(d)
# print(num_list)

{12: 'Even', 13: 'Odd', 14: 'Even', 15: 'Odd', 16: 'Even', 17: 'Odd', 18: 'Even', 19: 'Odd', 20: 'Even', 21: 'Odd', 22: 'Even', 23: 'Odd', 24: 'Even', 25: 'Odd', 26: 'Even', 27: 'Odd'}

How many times can we double 13 before it passes 1,300?

In [9]:
x = 13
counter = 0

while x<1300:
    print(f"13 has been doubled {counter} times and is now {x}.")
    x*=2
    counter += 1

13 has been doubled 0 times and is now 13.
13 has been doubled 1 times and is now 26.
13 has been doubled 2 times and is now 52.
13 has been doubled 3 times and is now 104.
13 has been doubled 4 times and is now 208.
13 has been doubled 5 times and is now 416.
13 has been doubled 6 times and is now 832.

Define a function that determines whether a number is divisible by 3 or not and then test it on 6 and 8.

In [13]:
def div_by_3(num):
    if num%3==0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is indivisible by 3")
        
# div_by_3(3)
# div_by_3(6)
div_by_3(8)

8 is indivisible by 3

<B>Function Scope:</B>

In [28]:
x = 5
def q_2():
    global x
    x = 9
    return x

print(x)
print(q_2())

5
9

In [33]:
y = 5
def q_3():
    y = 11
    return z

print(y)
# print(q_3())

5

Define a function named outer_function that takes argument x and includes another function nested inside named inner_function, which takes argument y. The inner_function returns the result of x * y. Test the function when x is 4 and y is 6 and therefore we expect a result of 24.

In [37]:
def outer_function(x):
    def inner_function(y):
        return x * y
    return inner_function

a = outer_function(4)
a(6)

24

Define a function that takes x and y arguments and returns x to the power of y. When y is not provided, it should be 2 by default. Test it on a few scenarios to see how default arguments work.

In [38]:
def q_5(x, y = 2):
    return x ** y

print(f"q_5(4, 3) returns: {q_5(4, 3)}")
print(f"q_5(4) uses the default value of 2 for y and returns: {q_5(4)}")

q_5(4, 3) returns: 64
q_5(4) uses the default value of 2 for y and returns: 16

When a value is divided by zero, Python throws an error stating ZeroDivisionError: division by zero - give it a try if you have not come across it before. Define function q_7 that takes two arguments and divides one by the other. When the denominator is zero, instead of Python's usual error message, print division by zero is not possible. Test out the function on a few scenarios to make sure the function behaves as intended.

In [39]:
def q_7(x, y):
    try:
        x / y
    except ZeroDivisionError:
        print("division by zero is not possible")
    else:
        return x / y
    
print(f"q_7(2, 5) returns: {q_7(2, 5)}\n")
print(f"q_7(2, 0) returns: {q_7(2, 0)}")

q_7(2, 5) returns: 0.4

division by zero is not possible
q_7(2, 0) returns: None

<B>Exception Handling</B>

Exceptions in Python is when an error happens, such as dividing a value by zero, which would generate a ZeroDivisionError: division by zero. In the following examples, we will focus on how to use try and except to convey specific information when an exception occurs.

There are a few key words to learn for this topic, which will be more solidified after going through the exercise questions.

<B>try block</B> is to test a block of code for errors.<br>
<B>except block</B> is to handle the error.<br>
<B>else block</B> is to execute code in the absence of an error.<br>
<B>finally block</B> is executed regardless of what happened in the try block, unlike else which only happens when there are no errors.

Question 6:

Define a function named q_6 that takes two arguments and returns the multiplication of the two arguments. The function is not designed to accept any negative arguments so if any of the two arguments is negative, the function should return a ValueError() class exception that states invalid arguments in a string format. Test out the function on a few scenarios to make sure the function behaves as intended.

In [35]:
def q_6(x, y):
    try:
        if x < 0 or y < 0:
            raise ValueError("invalid arguments")
        return x * y
    except ValueError as err:
        return str(err)
    
print(f"q_6(2, 5) returns: {q_6(2, 5)}")
print(f"q_6(2, -5) returns: {q_6(2, -5)}")
print(f"q_6(-2, 5) returns: {q_6(-2, 5)}")
print(f"q_6(-2, -5) returns: {q_6(-2, -5)}")

q_6(2, 5) returns: 10
q_6(2, -5) returns: invalid arguments
q_6(-2, 5) returns: invalid arguments
q_6(-2, -5) returns: invalid arguments

In [16]:
#import lib

import numpy as np
import pandas as pd

Create the data to be included in the dataframe

In [17]:
participants = {
    'gender':['female', 'female', 'male', 'female', 'female', 'male', 'male', 'male', 'female'],
    'age': [26, 77, 39, 54, 55, 63, 28, 33, 49]
}

Create the dataframe

In [18]:
df = pd.DataFrame(participants)
df

   gender  age
0  female   26
1  female   77
2    male   39
3  female   54
4  female   55
5    male   63
6    male   28
7    male   33
8  female   49

How many rows and columns are included in the dataframe?

In [19]:
print(f"there are {df.shape[0]} rows and {df.shape[1]} columns in the dataframe.")

there are 9 rows and 2 columns in the dataframe.

What is the average age of the participants?

In [20]:
df["age"].mean()

47.111111111111114

In [21]:
# Approach 2
np.mean(df["age"])

47.111111111111114

In [22]:
df['gender'][df['gender']=='female'].count()

5

How many total male participants are there, and how many of them are older than 30 years old?

In [24]:
total_male_participants = df['gender'][df['gender']=='male'].count()
print(f"There are {total_male_participants} total male participants.\n")

There are 4 total male participants.

In [26]:
male_above_30 = df['gender'][(df['gender']=='male')&(df['age']>30)].count()
print(f"There are {male_above_30} males participants above age of 30.")

There are 3 males participants above age of 30.

<B>Lambda function</B>

Create a lambda function named q_9 that takes one argument and returns that argument to the power of 2.

In [42]:
q_9 = lambda x : x**2
q_9(4)

16

In [43]:
print(f"q_9(3) returns: {q_9(3)}")
print(f"q_9(5) returns: {q_9(5)}")

q_9(3) returns: 9
q_9(5) returns: 25

Create a regular function called q_10 that doubles any given argument, using a nested Lambda function. Test it to make sure it behaves as intended.

In [45]:
def f_10(n):
    return lambda x : x * n

q_10 = f_10(2)

print(f"q_10(4) returns: {q_10(4)}")
print(f"q_10(-3) returns: {q_10(-3)}")

q_10(4) returns: 8
q_10(-3) returns: -6

Use a Lambda function to change i_11 = ["Data Science", "Python", "lambda"] into lower case and save it as a list named q_11.

In [47]:
i_11 = ["Data Science", "Python", "lambda"]
print(f"before: {i_11}")

before: ['Data Science', 'Python', 'lambda']

In [48]:
q_11 = list(map(lambda x:x.lower(),i_11))
print(f"after: {q_11}")

after: ['data science', 'python', 'lambda']

<B>Important</B>

In [49]:
import pandas as pd

q_12 = pd.DataFrame({'participant_number' : [1, 2, 3, 4],
                    'weight' : [65, 80, 43, 89],
                    'height' : [1.87, 1.76, 1.53, 1.89]})

The data frame above named q_12 includes weights and heights of participants in kilograms and meters, respectively. Calculate their Body Mass Index (BMI) using a Lambda function and store the results in a column with that name in the same data frame. BMI is weight in kilograms divided by height in meters squared.

In [50]:
q_12

   participant_number  weight  height
0                   1      65    1.87
1                   2      80    1.76
2                   3      43    1.53
3                   4      89    1.89

In [51]:
#define a function to calculate BMI
def a_12(a, b):
    return a / b**2

In [52]:
#create a new column BMI and assign values to it
q_12['bmi'] = q_12.apply(lambda x : a_12(x["weight"], x["height"]), axis = 1)
q_12

   participant_number  weight  height        bmi
0                   1      65    1.87  18.587892
1                   2      80    1.76  25.826446
2                   3      43    1.53  18.369003
3                   4      89    1.89  24.915316