# Question

Youâ€™re given two dataframes. One contains information about addresses and the other contains relationships between various cities and states:

In [1]:
import pandas as pd

addresses = {"address": ["4860 Sunset Boulevard, San Francisco, 94105", "3055 Paradise Lane, Salt Lake City, 84103", "682 Main Street, Detroit, 48204", "9001 Cascade Road, Kansas City, 64102", "5853 Leon Street, Tampa, 33605"]}
cities = {"city": ["Salt Lake City", "Kansas City", "Detroit", "Tampa", "San Francisco"], 
          "state": ["Utah", "Missouri", "Michigan", "Florida", "California"]}

df_addresses = pd.DataFrame(addresses)

df_cities = pd.DataFrame(cities)

In [2]:
df_addresses

                                       address
0  4860 Sunset Boulevard, San Francisco, 94105
1    3055 Paradise Lane, Salt Lake City, 84103
2              682 Main Street, Detroit, 48204
3        9001 Cascade Road, Kansas City, 64102
4               5853 Leon Street, Tampa, 33605

In [3]:
df_cities

             city       state
0  Salt Lake City        Utah
1     Kansas City    Missouri
2         Detroit    Michigan
3           Tampa     Florida
4   San Francisco  California

Write a function to create a single dataframe with complete addresses in the format of street, city, state, zipcode.

In [6]:
df_addresses['Street']=[x.split(',')[0] for x in df_addresses['address']] 
df_addresses['City']=[x.split(',')[1] for x in df_addresses['address']] 
df_addresses['Zip']=[x.split(',')[2] for x in df_addresses['address']] 
df_addresses = df_addresses.drop('address',axis=1)

df_addresses['State']=[df_cities[df_cities['city']==x.strip()]['state'] for x in df_addresses['City']]

print(df_addresses)

KeyError: 'address'

In [ ]:
df_addresses['street'] = df_addresses['address'].apply(lambda x:x.split(',')[0])
df_addresses['city'] = [x.split(',')[1] for x in df_addresses['address']]
df_addresses['zip'] = df_addresses['address'].apply(lambda x:x.split(',')[2])

In [ ]:
df_addresses

In [ ]:
df_addresses = df_addresses.drop('address', axis=1)
df_addresses

In [ ]:
df_cities

In [ ]:
# df_addresses['State']=[df_cities[df_cities['city']==x.strip()]['state'] for x in df_addresses['City']]

# df_addresses