# Question

Write a function to select only the rows where the student's favorite color is green or red and their grade is above 90.

In [1]:
import pandas as pd

students = {"name" : ["Tim Voss", "Nicole Johnson", "Elsa Williams", "John James", "Catherine Jones"], 
            "age" : [19, 20, 21, 20, 23], "favorite_color" : ["red", "yellow", "green", "blue", "green"], 
            "grade" : [91, 95, 82, 75, 93]}

students_df = pd.DataFrame(students)

In [2]:
students_df

              name  age favorite_color  grade
0         Tim Voss   19            red     91
1   Nicole Johnson   20         yellow     95
2    Elsa Williams   21          green     82
3       John James   20           blue     75
4  Catherine Jones   23          green     93

# Solution1:

In [5]:
students_df[((students_df['favorite_color']=='green')| (students_df['favorite_color']=='red'))&
            (students_df['grade']> 90)]

              name  age favorite_color  grade
0         Tim Voss   19            red     91
4  Catherine Jones   23          green     93

# Solution2:

In [7]:
temp_df = students_df[students_df.grade > 90] 
temp_df = temp_df[temp_df.favorite_color.isin(['red', 'yellow'])] 
temp_df

             name  age favorite_color  grade
0        Tim Voss   19            red     91
1  Nicole Johnson   20         yellow     95