https://medium.com/@aspershupadhyay/data-wrangling-like-a-pro-15-advanced-pandas-functions-for-data-analysis-687608fed8ba

In [2]:
import pandas as pd

In [6]:
pandas_df = pd.read_csv('penguins.csv')
pandas_df

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

<h1>1.apply()</h1>

In [8]:
pandas_df['bill_length_mm'] = pandas_df['bill_length_mm'].apply(lambda x:x/10)
pandas_df

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,0.391,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,0.395,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,0.403,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,0.367,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,0.558,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,0.435,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,0.496,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,0.508,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,0.502,18.7,198.0,3775.0,female,2009

<h1>2. nunique()</h1>

In [10]:
pandas_df['species'].nunique()

3

<h1>3. sortvalues()</h1>